/*======= CSS variables =======*/
:root{
    --navy: #1b1726;
    --dark-brown: #261105;
    --light-brown: #a67360;
    --russett: #591e11;
    --clay: #a6523f;
    --white: #f2eeeb;
}
body{
    background-color: var(--clay);
    font-family: apertura, sans-serif;
    font-weight: 400;   
    font-style: normal;
    color: var(--dark-brown); 
}
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .15em 2.5em;
    transition: .6s;
}
header.sticky{
    background: var(--light-brown);
    padding: .5em 1em;
    box-shadow: 0 0 7px var(--dark-brown);
}
#navlogo{
    padding: .25em;
    max-height:75px
}
header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu a{
    font-weight: 500;
    text-decoration: none;
    color: var(--navy);
    margin: 0 3em;
    padding: 1em 2em;
}
header .menu a:hover{
    color: var(--russett);
    transition: 0.3s;
    transform: scale(1.12);
}
header .btn{
    color: var(--navy);
    display: none;
}
h1{
    font-family: condor,sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width:1060px){
    header .btn{
        display: block;
    }
    header .menu{
        position: fixed;
        background: var(--light-brown);
        flex-direction: column;
        min-width: 45%;
        height: 100vh;
        top: 0;
        right: -100%;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu.active{
        right: 0;
    }

    header .menu .close-btn{
        position: absolute;
        top: 0;
        margin-left: 30%;    
        padding: .75em;
    }
    header .menu a{
        display: block;
        font-size: 1.2rem;
        margin: 1em;
    }
}

.btn-primary, .btn-outline-primary{
    color: var(--white);
    background-color: var(--russett);
    border: none;
}
.btn-primary:hover, .btn-outline-primary:hover{
    color: var(--russett);
    background-color: var(--light-brown);
    border: none;
}
.bg-body {
    background-color: var(--dark-brown) !important;
    box-shadow: 0 0 10px;
  }

.read-more{
    color: var(--dark-brown) !important;
    font-family: condor,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}
.lorem{
    color: var(--russett) !important;
    font-size: 1.25rem;
}

a{
 text-decoration: none;   
 color: var(--white);
}

footer{
    color: var(--white);
    background-color: var(--navy);
    height: 300px;
}
#footer-row{
    text-align: center;
    padding: 10% 0 0;
}

/* Fonts

font-family: condor,sans-serif;
font-weight: 400;
font-style: italic;

font-family: condor,sans-serif;
font-weight: 400;
font-style: normal;

font-family: condor,sans-serif;
font-weight: 500;
font-style: normal;

font-family: apertura, sans-serif;
font-weight: 400;
font-style: normal;

font-family: apertura, sans-serif;
font-weight: 400;
font-style: italic;

font-family: apertura, sans-serif;
font-weight: 500;
font-style: normal;
*/
