:root{
    --skyblue: #b4e1ff;
    --paleblue: #85c7e3;
    --beige: #ffdac5;
    --orange: #ffad69;
    --yellow: #ffc061;
}
*{
    font-family: quicksand,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
}
#alogo{
    width: 100px;
}
.navbar{
    background-color: var(--skyblue);
}
.nav-item a{
    color: var(--orange);
}
.bg-dark{
    background-color: var(--beige) !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
  }
.card{
    border: none;
}
.btn-primary-outline{
    padding: .5rem;
    background-color: var(--palepink);
}
footer{ 
    background-color: var(--orange) !important;;
}
footer i{
    color: var(--white);
}
.accordion-button{
    background-color: var(--orange);
}
.accordion-item{
    background-color: var(--orange);
}
h2,h3,h4,h5{
    font-family: 'Arima Madurai', cursive;
}